.main-div {
  background: var(--global--background--Color);
  min-height: 100svh;
}
.main-div-dark {
  background: rgb(162, 164, 164);
  background: linear-gradient(
    90deg,
    rgb(107, 107, 107) 0%,
    rgb(83, 84, 84) 50%,
    rgb(59, 60, 60) 100%
  );
  & .inner-box,
  & .poke-card {
    background: linear-gradient(
      52.41deg,
      var(--global--accent--Color__dark) 4.87%,
      #091c2e 94.37%
    );
  }
}
